@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Inter'), url(https://fonts.gstatic.com/l/font?kit=UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfMZ1zfLehuMj8UB2gN6h6HlQMhBwZQMwDOmFBNquE9Y0-wFlo10q6D5VSJQ365wjSKnC1-AEiRgn4J4pBLnxC4VzBuLjCbWSG_DRfZ1mbmXWZI7Od6ZDp17cHQmx-HJHQnG3aNgAP3yBLGLWJjxgic7LJ_nI66ssu_ZuanccxAf7_uo83BbWZc-teGYMpJjD2qKoCzTMr62CfnDPpzUE6ZpR-NxwDzrbX3xVkxyQGew3JhYnIAEdhsXoc19xG6AMy_zBA-Nw-dDnMJCmJLzxUEQBeDrJKhfCQfdlDcMlUv-_FdkAfYDHunaU4hhK4db2RID_TYiFFuS0Fd8SQgr8oiakxCcDf8QuAzJUW0npDjLGrOfo2X_DdhAscwfp36W7mfU65grWpDXqdBm03vcsH0dCWN_rUMja9DlqhDwRuTS5U6f5B-y197BCS47PvkJRH9ZWejIAYBTYjoQ4y4Ta-FRqkeFJCHqAj75NcJZgvq1Iss7X0FI8&skey=c491285d6722e4fa&v=v13) format('woff2');
}
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400 700;
    font-stretch: 100%;
    font-display: swap;
    src: local('Open Sans'), url(https://fonts.gstatic.com/l/font?kit=memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVfS20T2yhzLWpq-Q8vSEXeGUN8ZwnRgh9o11_XMuvRvVuE57r6z3xIL2phd-RohuPuqB4n__-EVSe7k-_fS9bFBzGcBFZcAkJix7InaKs9AXeJgyPTlBFNsIaTJoe__KdRXewflCUYFs0hhfRS_nGy1rjrLAlHK2aJ1HrBpfKjS6f_H5TtQbp-YYkmCxdtNQu73tgrKe-tJ2Nfg75-LeEyzcTXrZecs4udk3hTk6uwfLqb03_uY8Ui5K9HMhf6kWEb1vkNIN_MmOacoKu1lkqs-KsyP14WmBtM6aQ3ZYnt3Q4mfYanLH1TD-lKpPFfUj_Y8UMVVVByPF-O892gv1I8N3nDWzbwq4CrJV7o7hKyykKJlhGXX6rR2uCrZeRoDm2SPZXMUIcNaP6GZ2s17Y4hTHt3-oEld0lXFE7Pa6O0SeA33Hj1OGcEDonpa8eCs8lrRHa2NnxQVYi5t9kDO-6vpbHrVkOYInbKxPnSyl3w4ak4DaiJxs&skey=62c1cbfccc78b4b2&v=v40) format('woff2');
}

:root {
    scroll-behavior: smooth;
    min-width: 300px;
    background-color: var(--background);
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: var(--text);
}
@media (min-width: 1366px) {
    :root {
        font-size: clamp(16px, (16 / 1366) * 100vw, 18px);
    }
}

:root,
:root.light {
    --text: #13171A;
    --background: #E5E5E7;
    --primary: #1A5E98;
    --secondary: #002041;
    --accent: #088FFD;
}
:root.dark {
    --text: #EBE5E5;
    --background: #19191B;
    --primary: #57A1DD;
    --secondary: #B3DEFF;
    --accent: #0187F2;
}
@media (prefers-color-scheme: dark) {
    :root {
        --text: #EBE5E5;
        --background: #19191B;
        --primary: #57A1DD;
        --secondary: #B3DEFF;
        --accent: #0187F2;
    }
}
:root {
    --text-d1: color-mix(in oklab, var(--text) 80%, black);
    --text-b1: color-mix(in oklab, var(--text) 80%, white);
    --background-d1: color-mix(in oklab, var(--background) 90%, black);
    --background-b1: color-mix(in oklab, var(--background) 50%, white);
    --primary-d1: color-mix(in oklab, var(--primary) 80%, black);
    --primary-b1: color-mix(in oklab, var(--primary) 80%, white);
    --secondary-d1: color-mix(in oklab, var(--secondary) 80%, black);
    --secondary-b1: color-mix(in oklab, var(--secondary) 80%, white);
    --accent-d1: color-mix(in oklab, var(--accent) 80%, black);
    --accent-b1: color-mix(in oklab, var(--accent) 80%, white);
}
::selection {
    background-color: color-mix(in oklab, var(--accent) 80%, transparent);
    color: var(--text);
}
:root.dark ::selection {
    background-color: color-mix(in oklab, var(--accent-d1) 80%, transparent);
}

:root.light .hide-light {
    display: none;
}
:root.dark .hide-dark {
    display: none;
}

:root.light .hide-dark {
    display: initial;
}
:root.dark .hide-light {
    display: initial;
}

@media (prefers-color-scheme: light) {
    .hide-light {
        display: none;
    }
}
@media (prefers-color-scheme: dark) {
    .hide-dark {
        display: none;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

body > * {
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
}

nav {
    max-width: 100%;
    position: sticky;
    z-index: 1;
    top: 0;
    margin-top: 1rem;
    margin-bottom: 4rem;
    background-color: var(--background);
}
nav > ol {
    max-width: 1366px;
    margin: 0 auto;
    padding: 1rem clamp(1rem, calc(32 / 1366 * 100vw), 2rem);
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    font-size: clamp(1rem, calc(24 / 1366 * 100vw), 1.2rem);
    list-style-position: inside;
    list-style-type: upper-roman;
}
nav > ol li::marker {
    color: var(--primary-b1);
}
nav > ol li[data-marker]::marker {
    content: attr(data-marker);
}
@media (max-width: 32rem) {
    nav > ol li:has(> a[href^="#"]) {
        display: none;
    }
}

footer {
    column-width: 20rem;
    column-rule: 1px dotted var(--text-b1);
    column-gap: 3rem;
    padding: 4rem clamp(1rem, calc(32 / 1366 * 100vw), 2rem);
}
footer > * {
    break-inside: avoid-column;
}
footer > h2 {
    padding-bottom: 2rem;
    color: var(--primary);
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
    line-height: 0.85em;
    letter-spacing: -.05em;
}
footer > p {
    padding-bottom: 1rem;
    hyphens: auto;
}

select[is="theme-select"] {
    background: none;
}
select[is="theme-select"] > option {
    background-color: var(--background-d1);
}

:has(span[is="self-typing"]) {
    position: relative;
}
.type-async--cursor {
    user-select: none;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 900;
    color: var(--primary);
}
