:root,
:root.light {
    --text: #1A1414;
    --background: #E7E5E4;
    --primary: #992222;
    --secondary: #420000;
    --accent: #FD0D0D;
}
:root.dark {
    --text: #EBE5E5;
    --background: #1B1918;
    --primary: #DD6464;
    --secondary: #FFBDBD;
    --accent: #F20202;
}
@media (prefers-color-scheme: dark) {
    :root {
        --text: #EBE5E5;
        --background: #1B1918;
        --primary: #DD6464;
        --secondary: #FFBDBD;
        --accent: #F20202;
    }
}
:root {
    --text-d1: color-mix(in oklab, var(--text) 80%, black);
    --text-b1: color-mix(in oklab, var(--text) 80%, white);
    --background-d1: color-mix(in oklab, var(--background) 90%, black);
    --background-b1: color-mix(in oklab, var(--background) 50%, white);
    --primary-d1: color-mix(in oklab, var(--primary) 80%, black);
    --primary-b1: color-mix(in oklab, var(--primary) 80%, white);
    --secondary-d1: color-mix(in oklab, var(--secondary) 80%, black);
    --secondary-b1: color-mix(in oklab, var(--secondary) 80%, white);
    --accent-d1: color-mix(in oklab, var(--accent) 80%, black);
    --accent-b1: color-mix(in oklab, var(--accent) 80%, white);
}

::selection {
    background-color: color-mix(in oklab, var(--accent) 80%, transparent);
    color: var(--text-d1);
}

:root.light .hide-light {
    display: none;
}
:root.dark .hide-dark {
    display: none;
}

:root.light .hide-dark {
    display: initial;
}
:root.dark .hide-light {
    display: initial;
}

@media (prefers-color-scheme: light) {
    .hide-light {
        display: none;
    }
}
@media (prefers-color-scheme: dark) {
    .hide-dark {
        display: none;
    }
}

:root {
    scroll-behavior: smooth;
    min-width: 300px;
    background-color: var(--background);
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: var(--text);

    @media (min-width: 1366px) {
        font-size: clamp(16px, (16 / 1366) * 100vw, 18px);
    }
}

body > * {
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
}

nav {
    max-width: 100%;
    position: sticky;
    z-index: 1;
    top: 0;
    margin-top: 1rem;
    margin-bottom: 4rem;
    background-color: var(--background);

    > ul {
        max-width: 1366px;
        margin: 0 auto;
        padding: 1rem clamp(1rem, calc(32 / 1366 * 100vw), 2rem);
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        font-size: clamp(1rem, calc(24 / 1366 * 100vw), 1.2rem);
        list-style-position: inside;
        list-style-type: upper-roman;

        li {
            &::marker {
                color: var(--primary-b1);
            }

            &[data-marker]::marker {
                content: attr(data-marker);
            }
        }
    }
}

footer {
    column-width: 20rem;
    column-rule: 1px dotted var(--text-b1);
    column-gap: 3rem;
    padding: 4rem clamp(1rem, calc(32 / 1366 * 100vw), 2rem);

    > * {
        break-inside: avoid-column;
    }

    > h2 {
        padding-bottom: 2rem;
        color: var(--primary);
        font-family: 'Open Sans', sans-serif;
        font-size: 3rem;
        line-height: 0.85em;
        letter-spacing: -.05em;
    }

    > p {
        padding-bottom: 1rem;
        hyphens: auto;
    }
}

input[is="theme-switch"] {
    display: none;

    + label {
        user-select: none;
        cursor: pointer;
    }
}

:has(span[is="self-typing"]) {
    position: relative;
}
.type-async--cursor {
    user-select: none;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 900;
    color: var(--primary);
}
