:root {
    scroll-behavior: smooth;
    min-width: 300px;
    background-color: var(--background);
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: var(--text);
}
@media (min-width: 1366px) {
    :root {
        font-size: clamp(16px, (16 / 1366) * 100vw, 18px);
    }
}

:root,
:root.light {
    --text: #1A1414;
    --background: #E7E5E4;
    --primary: #992222;
    --secondary: #420000;
    --accent: #FD0D0D;
}
:root.dark {
    --text: #EBE5E5;
    --background: #1B1918;
    --primary: #DD6464;
    --secondary: #FFBDBD;
    --accent: #F20202;
}
@media (prefers-color-scheme: dark) {
    :root {
        --text: #EBE5E5;
        --background: #1B1918;
        --primary: #DD6464;
        --secondary: #FFBDBD;
        --accent: #F20202;
    }
}
:root {
    --text-d1: color-mix(in oklab, var(--text) 80%, black);
    --text-b1: color-mix(in oklab, var(--text) 80%, white);
    --background-d1: color-mix(in oklab, var(--background) 90%, black);
    --background-b1: color-mix(in oklab, var(--background) 50%, white);
    --primary-d1: color-mix(in oklab, var(--primary) 80%, black);
    --primary-b1: color-mix(in oklab, var(--primary) 80%, white);
    --secondary-d1: color-mix(in oklab, var(--secondary) 80%, black);
    --secondary-b1: color-mix(in oklab, var(--secondary) 80%, white);
    --accent-d1: color-mix(in oklab, var(--accent) 80%, black);
    --accent-b1: color-mix(in oklab, var(--accent) 80%, white);
}
::selection {
    background-color: color-mix(in oklab, var(--accent) 80%, transparent);
    color: var(--text);
}
:root.dark ::selection {
    background-color: color-mix(in oklab, var(--accent-d1) 80%, transparent);
}

:root.light .hide-light {
    display: none;
}
:root.dark .hide-dark {
    display: none;
}

:root.light .hide-dark {
    display: initial;
}
:root.dark .hide-light {
    display: initial;
}

@media (prefers-color-scheme: light) {
    .hide-light {
        display: none;
    }
}
@media (prefers-color-scheme: dark) {
    .hide-dark {
        display: none;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

body > * {
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
}

nav {
    max-width: 100%;
    position: sticky;
    z-index: 1;
    top: 0;
    margin-top: 1rem;
    margin-bottom: 4rem;
    background-color: var(--background);
}
nav > ul {
    max-width: 1366px;
    margin: 0 auto;
    padding: 1rem clamp(1rem, calc(32 / 1366 * 100vw), 2rem);
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    font-size: clamp(1rem, calc(24 / 1366 * 100vw), 1.2rem);
    list-style-position: inside;
    list-style-type: upper-roman;
}
nav > ul li::marker {
    color: var(--primary-b1);
}
nav > ul li[data-marker]::marker {
    content: attr(data-marker);
}

footer {
    column-width: 20rem;
    column-rule: 1px dotted var(--text-b1);
    column-gap: 3rem;
    padding: 4rem clamp(1rem, calc(32 / 1366 * 100vw), 2rem);
}
footer > * {
    break-inside: avoid-column;
}
footer > h2 {
    padding-bottom: 2rem;
    color: var(--primary);
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
    line-height: 0.85em;
    letter-spacing: -.05em;
}
footer > p {
    padding-bottom: 1rem;
    hyphens: auto;
}

select[is="theme-select"] {
    background: none;
}
select[is="theme-select"] > option {
    background-color: var(--background-d1);
}

:has(span[is="self-typing"]) {
    position: relative;
}
.type-async--cursor {
    user-select: none;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 900;
    color: var(--primary);
}
