:root {
    scroll-behavior: smooth;
    min-width: 300px;
    background-color: var(--background);
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: var(--text);
}
@media (min-width: 1366px) {
    :root {
        font-size: clamp(16px, (16 / 1366) * 100vw, 18px);
    }
}

:root.light {
    --text: #1A1414;
    --background: #E7E5E4;
    --primary: #992222;
    --secondary: #420000;
    --accent: #FD0D0D;
}
:root.dark {
    --text: #EBE5E5;
    --background: #1B1918;
    --primary: #DD6464;
    --secondary: #FFBDBD;
    --accent: #F20202;
}
:root {
    --text-d1: color-mix(in oklab, var(--text) 80%, black);
    --text-b1: color-mix(in oklab, var(--text) 80%, white);
    --background-d1: color-mix(in oklab, var(--background) 90%, black);
    --background-b1: color-mix(in oklab, var(--background) 50%, white);
    --primary-d1: color-mix(in oklab, var(--primary) 80%, black);
    --primary-b1: color-mix(in oklab, var(--primary) 80%, white);
    --secondary-b1: color-mix(in oklab, var(--secondary) 80%, black);
    --secondary-b1: color-mix(in oklab, var(--secondary) 80%, white);
    --accent-d1: color-mix(in oklab, var(--accent) 80%, black);
    --accent-b1: color-mix(in oklab, var(--accent) 80%, white);
}
::selection {
    background-color: color-mix(in oklab, var(--accent) 80%, transparent);
    color: var(--text-d1);
}

:root.light .hide-light {
    display: none;
}
:root.dark .hide-dark {
    display: none;
}

body > * {
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
}

nav {
    position: sticky;
    z-index: 1;
    top: 0;
    margin-top: 1rem;
    margin-bottom: 4rem;
    padding: 1rem clamp(1rem, calc(32 / 1366 * 100vw), 2rem);
}
nav > ul {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    font-size: clamp(1rem, calc(24 / 1366 * 100vw), 1.2rem);
    list-style-position: inside;
    list-style-type: upper-roman;
}
nav > ul li::marker {
    color: var(--primary-b1);
}
nav > ul li[data-marker]::marker {
    content: attr(data-marker);
}



footer {
    /* padding: .5rem; */
    padding: 0 clamp(1rem, calc(32 / 1366 * 100vw), 2rem);
    margin-bottom: 4rem;
}
footer > div {
    border: 1px dotted var(--text-b1);
    border-radius: .5rem;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
}
footer > div > * {
    padding: .75rem;
    border: 0 dotted var(--text-b1);
}

input[is="theme-switch"] {
    display: none;
}
input[is="theme-switch"] + label {
    user-select: none;
    cursor: pointer;
}

:has(span[is="self-typing"]) {
    position: relative;
}
.type-async--cursor {
    user-select: none;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 900;
    color: var(--primary);
}
