@page {
    size: A4 portrait;
    margin: 0cm;
}

@media only screen {
    .doc-page {
        background-color: #FFFFFF;
        margin: 0 auto 5mm auto;
    }
    @media only screen and (max-width: 210mm) {
        .doc-page {
            zoom: 0.66666;
        }
    }
    @media only screen and (min-width: 315mm) {
        .doc-page {
            zoom: 1.5;
        }
    }
    :root.dark .doc-page {
        background-color: #262626;
        color: #FFFFFF;
    }
    :root.dark .doc-page h1,
    :root.dark .doc-page h2 {
        color: #DD6464;
    }
}
@media only print {
    body > nav,
    body > footer {
        display: none;
    }
    body > main {
        padding: 0 !important;
    }
}

body > nav {
    margin-bottom: 2rem;
}
body > main {
    overflow-x: auto;
    padding: 0 1rem;
}

.doc-page {
    width: 210mm;
    height: 297mm;
    padding: 1cm;
    color: #0a0a0a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-weight: 500;
    overflow: hidden;
}

.doc-page h1 {
    padding-bottom: 4mm;
    color: #992222;
    font-size: 15pt;
    font-weight: bold;
    line-height: 1em;
}

.doc-page h2 {
    padding: 3mm 0 1mm 0;
    border-bottom: 1pt solid #AAAAAA;
    color: #992222;
    font-size: 12pt;
    font-weight: bold;
}

.doc-page h3 {
    padding-top: 2mm;
    font-size: 12pt;
    font-weight: bold;
}

.doc-page h4 {
    font-weight: bold;
}

.doc-page dl {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: 0 2mm;
    break-inside: avoid-column;
}
.doc-page dl.horizontal {
    grid-gap: 0 2mm;
    grid-template-columns: initial;
    grid-auto-flow: row;
    justify-content: space-between;
}
.doc-page dl.horizontal dt {
    grid-row-start: 1;
    text-align: left;
}
.doc-page dl.horizontal dd {
    grid-row-start: 2;
}

.doc-page p {
    text-align: justify;
    line-height: 13pt;
}
