:root {
    min-width: 300px;
    scroll-behavior: smooth;
    background-color: var(--bg-color);
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: var(--t-color);
    counter-reset: heading-counter;
}
@media (min-width: 1366px) {
    :root {
        font-size: calc((16 / 1366) * 100vw);
    }
}

:root.light {
    --bg-color-d1: #d6d3d1;
    --bg-color: #e7e5e4;
    --bg-color-l1: #fafaf9;
    --t-color: #292524;
    --t-color-l1: #44403c;
    --t-color-l2: #78716c;
    --bg-primary: #991b1b;
    --t-primary: #ba2222;
}
:root.dark {
    --bg-color-d1: #171717;
    --bg-color: #0a0a0a;
    --bg-color-l1: #404040;
    --t-color: #e5e5e5;
    --t-color-l1: #737373;
    --t-color-l2: #d4d4d4;
    --bg-primary: #991b1b;
    --t-primary: #f87171;
}
::selection {
    opacity: .5;
    background-color: rgba(153 27 27 / 85%);
    color: var(--bg-color-d1);
}

:root.light .hide-light {
    display: none;
}
:root.dark .hide-dark {
    display: none;
}
:root.dark .dark\:invert {
    filter: invert(1);
}

nav {
    position: sticky;
    z-index: 1;
    top: 0;
    margin: 1rem 0 4rem 0;
    padding: 1rem 2rem;
}
nav > ul {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    font-size: 1.2rem;
    list-style-position: inside;
    list-style-type: upper-roman;
}
nav > ul li::marker {
    color: var(--t-primary);
}
nav > ul li[data-marker]::marker {
    content: attr(data-marker);
}

header {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    position: relative;
}
header > img {
    image-rendering: pixelated;
    position: absolute;
    bottom: 0;
    right: 1rem;
    width: 2rem;
    height: 2rem;
}
@media (max-width: 42rem) {
    header > img {
        display: none;
    }
}
header > figure {
    flex: 1 1 auto;
    position: relative;
    padding-left: 2rem;
}
header > figure > img {
    height: 12rem;
}
header > h1 {
    writing-mode: vertical-lr;
    flex: 0 0 auto;
    width: 25%;
    padding-right: 2rem;
    font-size: 3rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 2.5rem;
    color: #000000;
    letter-spacing: .1em;
}
:root.dark header > h1 {
    color: #FFFFFF;
}
header > p {
    flex: 1 0 100%;
    padding: 0 2rem;
    font-size: 2.5rem;
    line-height: 4.35rem;
    letter-spacing: -.03em;
}
@media (min-width: 42rem) {
    header > p {
        padding-right: 16%;
    }
}
@media (min-width: 64rem) {
    header > p {
        padding-right: 32%;
    }
}
header > p > span.marker {
    -webkit-box-decoration-break: clone;
    -moz-background-inline-policy: clone;
    box-decoration-break: clone;
    padding: .15em .2em;
    background-color: var(--bg-primary);
    border-radius: .25rem;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
}
header > p > span.marker:before {
    content: open-quote;
}
header > p > span.marker:after {
    content: close-quote;
}
header > p > span.marker + span:before {
    display: none !important;
}

section {
    column-width: 20rem;
    column-rule: 1px dotted var(--t-color-l1);
    column-gap: 3rem;
    padding: 4rem clamp(1rem, calc(16 / 1500 * 100vw), 2rem);
}
section > * {
    padding-bottom: 1rem;
}

section > h2,
section > h3,
section > .block {
    break-inside: avoid-column;
}

section > hr,
section > .full-row {
    column-span: all;
}

section > h2,
section > h3 {
    padding-bottom: 2rem;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -.05em;
}

section > h2 {
    font-size: 3.5rem;
    line-height: 3rem;
}
section > h2:before {
    content: counter(heading-counter, decimal-leading-zero) ". ";
    font-size: .8em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: var(--t-primary);
    counter-increment: heading-counter;
}

section > h3 {
    font-size: 2.5rem;
    line-height: 1.5rem;
}

section > hr {
    margin-top: 1rem;
    border: none;
}

section p {
    hyphens: auto;
}

section img {
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    border-radius: .2rem;
}

section > ul > li {
    break-inside: avoid-column;
    margin-bottom: 1rem;
    border-bottom: .15rem dotted var(--t-color);
}
section > ul > li > h3,
section > ul > li > h4 {
    padding-bottom: 1rem;
    font-size: 1.5rem;
}
section > ul > li > a {
    display: block;
    padding-bottom: .5rem;
    color: var(--t-primary);
}
section > ul > li > a:after {
    float: right;
    font-size: 1.2rem;
}
section > ul > li > a[target="_blank"]:after {
    content: '\29C9';
}
section > ul > li > a[href^="#"]:after {
    content: '\21B3';
}
section > ul.grid {
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-auto-flow: row dense;
}
@media (min-width: 24rem) {
    section > ul.grid {
        grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
    }
}
@media (min-width: 16rem) {
    section > ul.grid.dense {
        grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    }
}
section > ul.grid > li {
    margin: 0;
    border: none;
}
section > ul.grid > li > a {
    text-underline-offset: .1em;
    padding-bottom: 0;
    line-height: 2em;
    color: var(--t-color);
}
section > ul.grid > li > a:after {
    color: var(--t-primary);
}
section > ul.grid.dense {
    gap: .4rem;
}
section > ul.grid.dense > li {
    max-width: 100%;
}
section > ul.grid.dense > li > a:after {
    font-size: 1rem;
}

footer {
    padding: 4rem 2rem 6rem 2rem;
    text-align: center;
}
footer > img {
    image-rendering: pixelated;
    width: 100%;
    max-width: 69rem;
    height: 4rem;
    margin: 0 auto;
}

form {
    display: grid;
}
@media (min-width: 50rem) {
    form {
        grid-template-columns: 1fr 2fr;
    }
}
form label {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
}
form input,
form textarea {
    max-width: 100%;
    margin-bottom: 2rem;
    background-color: var(--bg-color-l1);
    border-bottom: .2rem dotted currentcolor;
    border-radius: .2rem .2rem 0 0;
    font: inherit;
    color: inherit;
}
form input::placeholder,
form textarea::placeholder {
    color: var(--t-color-l2);
}
form input[readonly],
form textarea[readonly] {
    background-color: var(--bg-color-d1);
    cursor: wait;
    border-color: transparent;
    color: var(--t-color-l1);
}
form input {
    padding: 0 1rem;
    line-height: 3rem;
}
form input[type="submit"] {
    margin-top: 1rem;
    margin-right: auto;
    padding: 0 2rem;
    background-color: var(--t-color);
    cursor: pointer;
    border-bottom: none;
    border-radius: .2rem;
    color: var(--bg-color);
}
form input[type="submit"][readonly] {
    background-color: var(--t-color-l1);
    cursor: wait;
    color: var(--bg-color-d1);
}
form textarea {
    resize: none;
    overflow: hidden;
    min-height: 12rem;
    padding: 1rem;
    padding-bottom: 3rem;
    line-height: 2rem;
}


input[is="theme-switch"] {
    display: none;
}
input[is="theme-switch"] + label {
    user-select: none;
    cursor: pointer;
}

span[is="self-typing"] + span:before {
    user-select: none;
    content: '|';
    position: absolute;
    animation: blink 1s steps(2, start) infinite;
    font-weight: 900;
    color: var(--t-primary);
}
@keyframes blink {
    to {
        visibility: hidden;
    }
}
