.form-input {
  display: flex;
  flex-direction: column;

  &__label {
    order: 1;
    padding-bottom: .3rem;
    font-weight: 500;
  }

  &__input {
    order: 2;
    padding: 0 1rem;
    border: 1px dotted #BBB;
    border-bottom: 2px solid #999;
    height: 2.5rem;
    background-color: var(--background-color);

    &:focus {
      outline: 2px solid var(--primary-color);
      outline-offset: 1px;
      border-bottom-color: #000;
    }

    &:disabled {
      opacity: .5;
    }
  }
}
